@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');

* {
	margin: 0;
	padding: 0;
	list-style: none;
	box-sizing: border-box;
	font-family: 'Ubuntu', sans-serif;
}

:root {
	--background: #292b2f;
	--accent-green: #298b87;
	--accent-dark-blue: #00415a;
	--accent-blue: #3525af;
	--light-blue: rgb(0, 132, 255);
	--dark-blue: rgb(2, 84, 161);
	--light: rgb(245, 245, 245);
	--background-light: #fff;
}

body {
	background: linear-gradient(
		to right,
		var(--light-blue),
		var(--dark-blue),
		var(--accent-dark-blue)
	);
}

p {
	display: block;
}

a {
	color: var(--light-blue);
	font-size: 15px;
	font-weight: 300;
}

.resume {
	width: 100%;
	background: var(--background-light);
	margin: 50px auto;
	display: flex;
}

.left {
	background: var(--background);
	width: 250px;
	padding: 0 20px;
}

.right {
	width: calc(100% - 250px);
}

.img_holder {
	text-align: center;
	padding: 30px 0;
	margin-bottom: 30px;
}

img {
	width: 100%;
	border: solid 3px var(--light-blue);
	outline: solid 3px var(--accent-dark-blue);
	border-radius: 10px;
	box-shadow: 2px 6px 6px rgba(0, 0, 0, 0.4);
}

.title {
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 5px;
	padding-bottom: 10px;
	color: var(--light-blue);
	position: relative;
	text-align: right;
	margin-bottom: 15px;
	text-shadow: 2px 6px 6px rgba(0, 0, 0, 0.4);
}

.title:before {
	content: '';
	position: absolute;
	top: 35px;
	right: 0;
	width: 50px;
	height: 3px;
	background: var(--light-blue);
}

.icon {
	font-size: 30px;
	color: var(--light-blue);
}

.text {
	color: var(--light-blue);
	text-transform: uppercase;
	text-align: center;
	font-size: 15px;
	text-decoration: none;
	text-shadow: 1px 3px 3px rgba(0, 0, 0, 0.4);
}

.shadow {
	color: var(--dark-blue);
	font-size: 16px;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.4);
}

.projects {
	color: var(--dark-blue);
	text-transform: uppercase;
	margin-top: 15px;
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
}

.li_margin {
	margin-top: 20px;
}

.li_margin2 {
	margin-top: 8px;
}

.contact .li_wrap {
	display: flex;
	align-items: center;
	width: 100%;
	margin-bottom: 15px;
}

.contact .icon {
	width: 50px;
	height: 50px;
	background: var(--background-light);
	border-radius: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.contact .text {
	width: calc(100% - 50px);
	color: var(--background-light);
	font-weight: 600;
}

.contact .li_wrap {
	box-shadow: 2px 6px 6px rgba(0, 0, 0, 0.4);
	border-radius: 10px;
	background-color: var(--dark-blue);
	padding: 10px 15px;
	transition: scale 500ms ease-in-out;
}

.contact:hover .li_wrap:hover {
	background: var(--light-blue);
	scale: 1.05;
}

.skills ul,
.hobbies ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.skills .li_wrap,
.hobbies .li_wrap {
	width: 100px;
	height: 100px;
	margin-bottom: 15px;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	box-shadow: 2px 6px 6px rgba(0, 0, 0, 0.7);
	transition: scale 250ms ease-in-out;
}

.skills:hover .li_wrap:hover {
	scale: 1.05;
}

.skills .li_wrap {
	background: var(--background-light);
}

.hobbies .li_wrap {
	border: 2px solid var(--background-light);
}

.hobbies .li_wrap .icon,
.hobbies .li_wrap .text {
	transition: color 250ms ease-in-out;
	color: var(--background-light);
}

.li_wrap:hover {
	background: var(--background-light);
}

.skills .li_wrap:hover .icon,
.skills .li_wrap:hover .text {
	color: var(--dark-blue);
}

.hobbies .li_wrap:hover .icon,
.hobbies .li_wrap:hover .text {
	color: var(--dark-blue);
}

.header {
	background: #292b2f;
	padding: 15px 30px;
	color: var(--background-light);
	height: 240px;
}

.name {
	text-align: center;
	padding-top: 30px;
	font-size: 52px;
	text-transform: uppercase;
	font-weight: 700;
	color: var(--light-blue);
}

.name {
	text-shadow: 2px 6px 6px rgba(0, 0, 0, 0.4);
}

.header .role {
	text-align: center;
	margin-top: 20px;
	font-weight: 300;
	font-size: 25px;
}

.role {
	font-weight: 900;
	text-shadow: 2px 6px 6px rgba(0, 0, 0, 0.4);
}

.about {
	color: var(--background-light);
	margin: 50px 0;
	line-height: 1.7;
}

.right_inner {
	padding: 30px;
	color: var(--background);
}

.right_inner .education {
	margin-top: 30px;
}

.right_inner .li_wrap {
	display: flex;
	margin-bottom: 15px;
}

.right_inner .li_wrap .date {
	width: 125px;
	color: var(--light-blue);
}

.info {
	width: calc(100% - 125px);
	padding-left: 25px;
	position: relative;
}

.info_title {
	text-transform: uppercase;
	font-weight: 800;
	letter-spacing: 2px;
	color: var(--light-blue);
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
}

.info_com {
	font-weight: 300;
	font-size: 15px;
	margin-top: 3px;
}

.info_cont {
	margin-top: 15px;
}

.info:before {
	content: '';
	position: absolute;
	top: 3px;
	left: 0;
	width: 10px;
	height: 10px;
	background: var(--light-blue);
	border-radius: 50%;
}

.info:after {
	content: '';
	position: absolute;
	top: 10px;
	left: 4px;
	width: 2px;
	height: 90%;
	background: var(--light-blue);
}
